.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_voters_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Voters
    .inner
      %table.table
        %tr
          %th.first ID
          %th Type
          %th
            Message
          %th
            Number
          %th
            Name
          %th
            Status
          %th
            = t("web-app-theme.created_at", :default => "Created at")
          
        - voters.each do |voter|
          %tr{:class => cycle("odd", "even")}
            %td
              = voter.id
            %td
              = voter.type
            %td
              = link_to "listen", voter.voice_recording_url, :target => "blank" if voter.voice_recording_url.present?
            %td{:class => voter.help_status == "pending_help_exit" ? "needs_help" : ""}
              = link_to voter.phone_number, admin_voter_path(voter)
            %td
              = link_to voter.first_name, admin_voter_path(voter)
            %td
              = voter.status
            %td
              = voter.created_at.strftime("%A, %b %e at %I:%M %p")
      .actions-bar.wat-cf
        .actions
        = will_paginate voters
- content_for :sidebar, render(:partial => 'sidebar')
