
.field
  = f.label :first_name
  = f.text_field :first_name
.field
  = f.label :last_name
  = f.text_field :last_name
.field
  = f.label :address_line_1
  = f.text_field :address_line_1
.field
  = f.label :city
  = f.text_field :city
  = f.fields_for :user, @voter.build_user do |uf|
    .field
      = uf.label :email
      = uf.text_field :email
.buttons
  = f.submit "Let's Do This!"
