.page_caption
  %h1.cufon About Us
  %p.cufon
    Our goal is to encourage and facilitate registration and voting until every Wisconsin resident votes in every election*
.inner_wrapper

  %p
    = "We're building a mobile SMS, Interactive Voice Response, and voice conferencing platform to directly help voters via automated-coaching and peer-mentoring while maintaining privacy of the voter's phone information."

  %p
    This system will mitigate or eliminate several barriers that prevent registration and voting, and will offer assistance to facilitate early registration and voting via all legal means. Volunteers will be recruited to carry out on the ground mentoring for prospective voters.

  %p
    Web interfaces, social networks, and crowd funding approaches will be used to solicit funding for the system, recruit developers to help build and maintain it, and recruit mentors to assist prospective voters who desire assistance through any of the steps of voting - which we identify roughly as:
    %ul
      %li
        determining eligibility
      %li
        identifying their districts and upcoming elections
      %li
        establishing valid current registration
      %li
        getting and understanding their ballots
      %li
        requesting and returning absentee ballots to vote at their convenience
      %li
        identifying their polling place
      %li
        options for transportation to and from their polling place


  %p
    *think 100% = impossible? Much harder things
    = link_to "have been done", "http://en.wikipedia.org/wiki/Smallpox"

  %h1
    Who We Are
  %p
    We're civic entrepreneurs in Wisconsin who want to enhance our democracy. We’re just people. Our participation in this effort forms no specific partnership, and we are not as a project affiliated with any political party or a governmental entity nor will we be. The effort is open to any who have skills to contribute and will pull for 100% turnout.

  %p
    The site itself and all services on it are built with work donated to 3x5 Software LLC and are offered by 3x5 Software LLC. All of this will be released under open licenses and will remain source available.
  %ul
    %li= link_to "Philip Crawford", "http://madison.imby.info/p/Philip.Crawford"
    %li= link_to "Mark McEahern", "http://madison.imby.info/p/Mark.Mceahern"
    %li= link_to "Matt Clark", "https://github.com/winescout"
    %li= link_to "Preston Austin", "http://madison.imby.info/p/prestonhaustin"
    %li= link_to "Steve Faulkner", "http://madison.imby.info/users/193"
    %li= link_to "Lucas Dailey", "http://madison.imby.info/p/Lucas.Dailey"
    %li= link_to "Matt Wheeler", "http://madison.imby.info/p/Matthew.Wheeler"
    %li= link_to "Erik Paulson", "http://blog.unit1127.com/"
    %li= link_to "Greg Tracy", "http://madison.imby.info/p/Greg.Tracy"
    %li= link_to "Maurice Cheeks", "http://madison.imby.info/p/Maurice.Cheeks"
  %br
  %h1
    Your Privacy

  %p
    We use your information to encourage and facilitate your current or future voting.

  %p
    We collect data for the singular purpose of providing requested assistance to each voter in knowing about elections, ballots, and options and status of their registration and voting. Please be aware that a lot of information about registered voters including addresses and voting status is readily looked up using the registrant’s full name and birthdate, which is the primary source of data that powers our application.
  %p
    No other party will ever be given your individual data without us receiving your permission, and we won’t use it for anything else beyond contacting you to advance the work of helping you and others vote. We will release statistics about regions and groups by age, and other aggregate data as we see it helping efforts to get out the vote, but it won’t identify you individually or contain your address, name, or phone number.

  %p
    We won’t keep any information about individuals under 14.
%br.clear


