.navbar.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'} VoteSimple
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{:class => "#{current_page?(:controller => '/content', :action => 'index') ? 'active' : ''}"}
          = link_to "Home", "/"
        %li{:class => "#{current_page?(:controller => '/content', :action => 'contact') ? 'active' : ''}"}
          = link_to "Contact", contact_path
        %li{:class => "#{current_page?(:controller => '/content', :action => 'about') ? 'active' : ''}"}
          = link_to "About", about_path
        %li{:class => "#{current_page?(:controller => '/content', :action => 'support') ? 'active' : ''}"}
          = link_to "Support This Effort", support_path

