.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand{:href => "/"} VoteSimple
      %ul.nav
        %li{:class => "#{current_page?(:controller => '/content', :action => 'index') ? 'active' : ''}"}
          = link_to "Home", "/"
        %li{:class => "#{current_page?(:controller => '/content', :action => 'contact') ? 'active' : ''}"}
          = link_to "Contact", contact_path
        %li{:class => "#{current_page?(:controller => '/content', :action => 'about') ? 'active' : ''}"}
          = link_to "About", about_path
        %li{:class => "#{current_page?(:controller => '/content', :action => 'support') ? 'active' : ''}"}
          = link_to "Support This Effort", support_path
