!!! 5
%head
  %title Vote Simple Admin
  = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override"
  = javascript_include_tag :defaults
  = csrf_meta_tag
%body
  #container
    #header
      %h1
        %a{:href => "/"} Vote Simple
      #user-navigation
        %ul.wat-cf
          %li
            %a.logout{:href => destroy_user_session_path}= t("web-app-theme.logout", :default => "Logout")
      #main-navigation
        %ul.wat-cf
          %li{:class => controller.controller_path == 'admin/users' ? 'first active' : 'first' }
            %a{:href => admin_users_path} Users
          %li{:class => controller.controller_path == 'admin/voters' ? 'first active' : 'first' }
            %a{:href => admin_voters_path} Voters
          %li{:class => controller.controller_path == 'admin/county_clerks' ? 'first active' : 'first' }
            %a{:href => admin_county_clerks_path} County Clerks
    #wrapper.wat-cf
      .flash
        - flash.each do |type, message|
          %div{:class => "message #{type}"}
            %p= message
      #main
        = yield
        #footer
          .block
            %p
              Copyright &copy; #{Time.now.year} Vote Simple
      #sidebar
        = yield :sidebar
