!!! 5
= render :partial => 'layouts/head'
%body
  = render :partial => 'layouts/header'
  .container
    = render :partial => 'layouts/flashes'
    = yield
    %footer
      = render :partial => 'layouts/footer'
-# Javascript at the bottom for fast page loading
= render :partial => 'layouts/javascripts'


