!!! 5
= render :partial => 'layouts/head'
%body{ :lang => 'en', :class => "#{controller.controller_name} #{controller.action_name}" }
  #wrapper
    = render :partial => 'layouts/header'
    %br.clear
    #content_wrapper
      .top
      .inner
        = render :partial => 'layouts/flashes'
        = yield
      .bottom
    %br.clear
    #footer
      = render :partial => 'layouts/footer'
  -# Javascript at the bottom for fast page loading
  = render :partial => 'layouts/javascripts'

